_book

__pycache__
plots
.ipynb_checkpoints
*.ipynb

*.input
*.output
*-test.md
*.lhe
*.mod
*.cmd*
semaphore
*.sin*
*.la
*.makefile
*.phs
*.vgx
*.evx
iniseed
.libs
*.LHE
*.hst
option.py
*.vg
*.f90
*.lo
*.gdml
*.tcl*

*.root
*.log
*.out
*.so
*.o
*.save
*.dat
node_modules
book.pdf
*~
build
